<ion-header>
  <ion-toolbar>
    <ion-title>
      Daftar Kamera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/maxt.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ardiyans Motret Studio</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Canon M50 Lensa meike F 1.8 <br>
          -Foto Model <br>
          -Foto Studio <br>
          3 location 1 area (price 500k) <br>
          40 photo copy sofk disk files <br>
          
      
    
    
    <ion-card class="welcome-card">
      <ion-img src="/assets/download.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ardiyans Motret Studio</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Sony A7II WITH lENS EF-S 15-85mm f/3.5-5.6mm <br>
          -Foto Landscape <br>
          -Foto Studio  <br>
          -Foto Wedding <br>
          5 location 1 area (price 2,5k) <br>
          40 photo copy sofk disk files <br>
          13 R Cetak photos 3 pcs <br>
     
        
          <ion-card class="welcome-card">
            <ion-img src="/assets/panas.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>Get Started</ion-card-subtitle>
              <ion-card-title>Welcome to Ardiyans Motret Studio</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Panasonic Lumix G85 Lensa meike F 1.8 <br>
                -Foto Model <br>
                -Videography <br>
                3 location 1 area (price 750k) <br>
                20 photo copy sofk disk files <br>
                
                <ion-card class="welcome-card">
                    <ion-img src="/assets/fuji.jpg"></ion-img>
                    <ion-card-header>
                      <ion-card-subtitle>Get Started</ion-card-subtitle>
                      <ion-card-title>Welcome to Ardiyans Motret Studio</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <p>Fujifilm XT20 Lensa meike 15-85MM WITH Samyang 55MM <br>
                        -Foto Booklet <br>
                        -Foto Landscape <br>
                        3 location 1 area (price 2000k) <br>
                        30 photo copy sofk disk files <br>
                        1 book of school boklet <br>
                        editing all photos <br>
              </ion-card-content>
          