<ion-header>
  <ion-toolbar>
    <ion-title>
      spesifikasi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/kos (1).jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to putri indah</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>fasilitas<br><br>
          - kamar mandi dalam <br>
          -kasur busa <br>
          -  (price 300k) <br>
          - lemari <br>
          
      
    
    
    
              </ion-card-content>
          