<ion-header>
  <ion-toolbar>
    <ion-title>
      spesifikasi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/tipe.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to IHome Property</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Tipe Hunian<br><br>
          - Tipe 36 <br>
          - Tipe 38<br>
          - Paket 40  <br>
          - Paket Wisata 40A <br>
          
      
    
    
    
              </ion-card-content>
          