<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/LEICA-M10.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ardiyans Motret Studio</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Welcome to Ardiyans Motrets .jadi langganan yang baik ya :)</p>
        Sejarah Ardiyan Motret berdiri sejak januari 2018
        dimana awalnya sang pemilik hanya iseng iseng saja memotret,
        namun terlintas dipikiran sang pemilik untuk membuka sebuah studio photo
        yang dimana hasil gambar yang diambil harus bagus dan baik serta memiliki makna 
        tersendiri dalam mengambil gambar
      </ion-card-content>
    