<ion-header>
  <ion-toolbar>
    <ion-title>
      IHome Property
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Selamat Datang</ion-card-subtitle>
        <ion-card-title>Welcome to IHome Property </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-img src="/assets/rumah.jpg"></ion-img>
      </ion-card-content>
    </ion-card>
  
<ion-card-content class="home-card">
 <br> <h6>IHome Property merupakan agen jasa perumahan yang membantu konsumen dalam menemukan lingkungan </h6>
 </ion-card-content>
    
</ion-content>
