<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Person
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/gblk.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Contact Person AMS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>WA : 082247065657 (Ardiyan)
          Line : @Amsstudio 
          Ig: @AMSstudio  <br>
        </ion-card-content>