<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Person
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/download (11).jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Contact Person kaper rental</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>WA : 0853354008 (huseinib)
          Line : @kaper
          Ig: @kaper.rental  <br>
        </ion-card-content>